body{
  background-color: peachpuff
}
ul{
   background-color: sandybrown;
    border-style: solid;
    border-color: white;
    padding: 12px;
}

li{

    display: inline;
    margin-left: 25px;
    margin-right: 25px;
}
#submit:hover{
 background-color: red;

}

#bg-video {
    position: fixed;
    top: 0;
    left: 0;
    object-fit: cover;
    z-index: -999;
    width: 100%;
    height: 100vh;

}